
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

*{
    margin: 15px 25px 0 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #ffe7b9;
}
h1{
    font-family: 'Syne', sans-serif;
    display:none;
}

#menu ul li{
    text-decoration: none;
    display: inline;
    margin: 0 10px !important;
}
#banner img{
    text-align: center;
    /* width:100%; */
}
.titulo{
    color: #947e4f ;
    font-size: 20em;
    
}
a{
    margin: 0% !important;
}